{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": ["@typescript-eslint", "unused-imports", "simple-import-sort"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": ["./tsconfig.json"],
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "rules": {
    "prefer-spread": "warn",
    "no-plusplus": "off",
    "no-param-reassign": "off",
    "@typescript-eslint/comma-dangle": "off",
    "@typescript-eslint/consistent-type-imports": "error",
    "import/prefer-default-export": "off",
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error",
    "unused-imports/no-unused-imports": "error",
    "@typescript-eslint/no-unused-vars": "off",
    "unused-imports/no-unused-vars": ["error", { "argsIgnorePattern": "^_" }],
    "no-restricted-syntax": [
      "warn",
      {
        "selector": "CallExpression[callee.object.name='console'][callee.property.name!=/^(error)$/]",
        "message": "Unexpected property on console object was called"
      }
    ],
    "no-nested-ternary": "off"
  },
  "overrides": [
    {
      "files": ["**/*.test.ts"],
      "plugins": ["jest", "jest-formatting"],
      "extends": [
        "plugin:jest/recommended",
        "plugin:jest-formatting/recommended"
      ]
    }
  ]
}
